
@import '../styles/player'

.player
  width: 20rem
  height: 7vmin
  position: fixed
  bottom: 4vmin
  left: 4vmin
  box-shadow: 0 0 3px 0 rgba($purple, 1)

  background: $rainbow
  color: $white
  font-family: inherit
  font-size: inherit
  z-index: 102

  .controls
    padding: 0 1.25rem
    .name
      width: 5rem

  .timeline
    .progress
      background: $dpurple

@media (max-width: 500px)
  .player
    width: 100%
    left: 0
    height: 3rem
    bottom: .25rem
